{block title}Uzavření dotazníku{/block}
{block content}
<div class="text-container">
    <h2 class="text-center">Uzavření dotazníku</h2>
    <div>
        Dotazník byl pro tuto chvíli uzavřen. Momentálně jsou zpracovávány výsledky průzkumu.<br /><br />
        <strong>Díky</strong> za Váš zájem.
    </div>
</div>