<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Poznám web: Vyplněný dotazník</title>
</head>
<body>
Respondent (id: {$id}) vyplnil dotazník.
</body>
</html>