<div id="help">
    <a n:href="Help:#lorem-ipsum" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="fddf">Nechápu, jak to poznat.</a>
    {ifset $help_lorem}<a n:href="Help:#lorem-ipsum" class="btn btn-default btn-sm">Co znamená ten zmatený text?</a>{/ifset}
    {ifset $help_gray}<a n:href="Help:#sede-obdelniky" class="btn btn-default btn-sm">Co jsou ty šedé obdelníčky?</a>{/ifset}
    {ifset $help_blur}<a n:href="Help:#rozmazane-obrazky" class="btn btn-default btn-sm">Proč jsou obrázky rozmazené?</a>{/ifset}
</div>