{block title}Žádné další otázky{/block}
{block content}
<h2>Žádné další otázky</h2>
<div>
Těší mě Váš zájem o tento dotazník, ale již jste poznali všechny wireframy, které jsou momentálně k dispozici.<br />
Nevyplňujte prosím dotazník znovu, protože odpovědi již znáte a výsledky by pak byly zkreslené. Děkuji.<br /><br />
Pokud tento počítač používá více lidí a vy ste ještě dotazník nevyplňovali, začněte prosím jako <strong>nový respondent</strong>.<br /><br />
<a n:href="Survey:results" class="btn btn-default btn-lg">Výsledky</a>
<a n:href="Survey:newRespondent" class="btn btn-default btn-lg">Nový respondent</a>
</div>