{layout '@layout.latte'}
{define type}wireframe{/define}
{define name}Poznání webu z wireframu{/define}
{define task}O jakou webovou stránku se jedná?{/define}
{define question}
<div class="wireframe">
    <img src="{$basePath}/images/wireframe2_large.png" width="940" class="border" />
    <a href="{$basePath}/images/wireframe2_large.png" target="_blank" class="btn btn-primary btn-sm">Zobrazit plnou velikost</a>
</div>
{/define}
{define form}
{control wireframeForm}
{/define}