@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(http://fonts.gstatic.com/s/roboto/v15/Pru33qjShpZSmG3z6VYwnVtXRa8TVwTICgirnJhmVJw.woff2) format("woff2"), url(http://fonts.gstatic.com/s/roboto/v15/Pru33qjShpZSmG3z6VYwnT8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(http://fonts.gstatic.com/s/roboto/v15/fIKu7GwZTy_12XzG_jt8eA.woff2) format("woff2"), url(http://fonts.gstatic.com/s/roboto/v15/Xyjz-jNkfiYuJf8UC3Lizw.woff) format("woff"); }
@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(http://fonts.gstatic.com/s/roboto/v15/97uahxiqZRoncBaCEI3aW1tXRa8TVwTICgirnJhmVJw.woff2) format("woff2"), url(http://fonts.gstatic.com/s/roboto/v15/97uahxiqZRoncBaCEI3aWz8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }
/**
Base layout
**/
html {
  overflow-x: auto; }

body {
  margin: 0;
  padding: 0;
  background-color: #7db9e8;
  background-image: -webkit-linear-gradient(-360deg, #7db9e8, #3397C7);
  background-image: linear-gradient(90deg,#7db9e8, #3397C7);
  background-color: #3397C7;
  font-family: "Roboto", serif;
  font-size: 15px; }

.container {
  width: 970px;
  margin-bottom: 20px; }
  .container.page {
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
    background-color: #fff; }
  .container.content {
    padding-bottom: 30px; }

footer {
  text-align: center; }
  footer a {
    color: white; }

h1 {
  color: #3397C7;
  text-align: center;
  font-size: 50px;
  letter-spacing: 5px; }
  h1 a, h1 a:hover {
    text-decoration: none;
    color: #3397C7; }

h2 {
  color: #3397C7; }

img.border {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3); }
  img.border.selected-image {
    box-shadow: 0 0 6px 0 #3397C7; }

#validation-appeal {
  width: 600px;
  margin: auto;
  display: none; }

/**
Homepage
**/
#homepage #homepage-image {
  width: 600px; }
  #homepage #homepage-image #image-container > img {
    display: none; }
  #homepage #homepage-image .balinks a {
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
#homepage #homepage-text {
  width: 300px;
  text-align: center; }

/**
Main navigation
**/
.navbar-main {
  border: none;
  background: none;
  text-align: center; }
  .navbar-main li {
    margin-right: 5px; }
  .navbar-main li.active a, .navbar-main li:hover a {
    background: none;
    color: #3397C7;
    border-radius: 5px; }
  .navbar-main a {
    color: #000;
    font-size: 16px; }

/**
Survey
**/
.survey h2 {
  text-align: center; }
.survey #task {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px; }
  .survey #task .btn {
    margin-left: 5px; }
.survey #form-wrapper {
  margin-top: 20px; }
  .survey #form-wrapper p {
    text-align: center; }
.survey #help {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px; }
.survey.survey-color .pull-left, .survey.survey-color-select .pull-left {
  width: 500px; }
.survey.survey-color .pull-right, .survey.survey-color-select .pull-right {
  width: 400px; }
.survey.survey-color #color, .survey.survey-color-select #color {
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
  margin: 20px auto auto;
  width: 400px;
  height: 100px; }
.survey.survey-color #lorem, .survey.survey-color-select #lorem {
  margin-top: 20px; }
.survey.survey-wireframe .wireframe, .survey.survey-wireframe-select .wireframe {
  text-align: center; }
.survey.survey-wireframe-reverse .pull-left {
  width: 450px; }
.survey.survey-wireframe-reverse .pull-right {
  width: 450px; }

/**
Buttons
**/
.btn-primary {
  background-color: #3397C7;
  border-color: #3397C7; }
  .btn-primary:hover {
    background-color: #2d87b3;
    border-color: #2d87b3; }

.btn-default.active, .btn-default:hover, .btn-default.active:hover {
  background-color: #3397C7;
  color: #ffffff; }

/**
Forms
**/
form.center table {
  margin: auto; }
form table td, form table th {
  padding: 10px; }
form table th {
  width: 150px; }
form table td.submit-wrapper {
  text-align: left; }
form table td label {
  font-weight: normal; }
form table td input[type=text], form table td input[type=email], form table td textarea {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 4px;
  padding: 5px; }
form table td input[type=text], form table td input[type=email] {
  height: 40px;
  line-height: 40px; }
form table td input[type=radio], form table td input[type=checkbox] {
  margin-right: 5px; }
form table td textarea {
  resize: vertical;
  width: 300px;
  height: 100px; }

#results {
  text-align: center; }
  #results > div {
    margin-top: 20px;
    margin-bottom: 20px; }
  #results table {
    margin: auto; }
    #results table th {
      width: 290px;
      height: 40px;
      line-height: 40px; }
    #results table td {
      text-align: right; }

#page-help table td {
  padding: 10px 0; }

#page-highscore > a {
  margin: 30px auto;
  display: block; }
#page-highscore table {
  margin: auto; }
  #page-highscore table td, #page-highscore table th {
    padding: 10px; }
    #page-highscore table td.strong, #page-highscore table th.strong {
      font-weight: bold; }
  #page-highscore table tr.current {
    background-color: #dfdfdf; }

/*# sourceMappingURL=layout.css.map */
