@import "bourbon/bourbon";

@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v15/Pru33qjShpZSmG3z6VYwnVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/roboto/v15/Pru33qjShpZSmG3z6VYwnT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/fIKu7GwZTy_12XzG_jt8eA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/roboto/v15/Xyjz-jNkfiYuJf8UC3Lizw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(http://fonts.gstatic.com/s/roboto/v15/97uahxiqZRoncBaCEI3aW1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/roboto/v15/97uahxiqZRoncBaCEI3aWz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

$primary-color : #3397C7;
$seconadry-color : #7db9e8;
$page-width : 970px;

/**
Base layout
**/
html {
  overflow-x: auto;
}
body {
  margin: 0;
  padding: 0;
  @include linear-gradient(90deg, $seconadry-color , $primary-color);
  background-color: $primary-color;
  font-family: "Roboto", serif;
  font-size: 15px;
}
.container {
  width: $page-width;
  margin-bottom: 20px;
  &.page {
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
    background-color: #fff;
  }
  &.content {
    padding-bottom: 30px;
  }
  .text-container {
    padding: 0 45px;
  }
}
footer {
  text-align: center;
  a {
    color: white;
  }
}
h1 {
  color: $primary-color;
  text-align: center;
  font-size: 50px;
  letter-spacing: 5px;
  a, a:hover {
    text-decoration: none;
    color: $primary-color;
  }
}
h2 {
  color: $primary-color;
}
img.border {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
  &.selected-image {
    box-shadow: 0 0 6px 0 $primary-color;
  }
}
#validation-appeal {
  width: 600px;
  margin: auto;
  display: none;
}

/**
Homepage
**/
#homepage {
  #homepage-image {
    width: 600px;
    #image-container {
      > img {
        display: none;
      }
    }
    .balinks a {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
  #homepage-text {
    width: 300px;
    text-align: center;
  }
}

/**
Main navigation
**/
.navbar-main {
  border: none;
  background: none;
  text-align: center;
  li {
    margin-right: 5px;
  }
  li.active, li:hover {
    a {
      background: none;
      color: $primary-color;
      border-radius: 5px;
    }
  }
  a {
    color: #000;
    font-size: 16px;
  }
}

/**
Survey
**/
.survey {
  h2 {
    text-align: center;
  }
  #task {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    .btn {
      margin-left: 5px;
    }
  }
  #form-wrapper {
    margin-top: 20px;
    p {
      text-align: center;
    }
  }
  #help {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  &.survey-color, &.survey-color-select {
    .pull-left {
      width: 500px;
    }
    .pull-right {
      width: 400px;
    }
    #color {
      border-radius: 5px;
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
      margin: 20px auto auto;
      width: 400px;
      height: 100px;
    }
    #lorem {
      margin-top: 20px;
    }
  }
  &.survey-wireframe, &.survey-wireframe-select {
    .wireframe {
      text-align: center;
    }
  }
  &.survey-wireframe-reverse {
    .pull-left {
      width: 450px;
    }
    .pull-right {
      width: 450px;
    }
  }
}

/**
Buttons
**/
.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
  &:hover {
    background-color: #2d87b3;
    border-color: #2d87b3;
  }
}
.btn-default {
  &.active, &:hover, &.active:hover {
    background-color: $primary-color;
    color: #ffffff;
  }
}

/**
Forms
**/
form {
  &.center {
    table {
      margin: auto;
    }
  }
  table {
    td, th {
      padding: 10px;
    }
    th {
      width: 150px;
    }
    td {
      &.submit-wrapper {
        text-align: left;
      }
      label {
        font-weight: normal;
      }
      input[type=text], input[type=email], textarea {
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
        border: none;
        border-radius: 4px;
        padding: 5px;
      }
      input[type=text], input[type=email] {
        height: 40px;
        line-height: 40px;
      }
      input[type=radio], input[type=checkbox] {
        margin-right: 5px;
      }
      textarea {
        resize: vertical;
        width: 300px;
        height: 100px;
      }
    }
  }
}
#results {
  text-align: center;
  > div {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  table {
      margin: auto;
      th {
        width: 290px;
        height: 40px;
        line-height: 40px;
      }
      td {
        text-align: right;
      }
  }
}

#page-help {
  table {
    td {
      padding: 10px 0;
    }
  }
}

#page-highscore {

  > a {
    margin: 30px auto;
    display: block;
  }
  table {
    margin: auto;
    td, th {
      padding: 10px;
      &.strong {
        font-weight: bold;
      }
    }
    tr.current {
      background-color: #dfdfdf;
    }
  }
}