{block content}
<h2>Dotazník</h2>
{control personalForm}
<p id="validation-appeal">
Zvažte prosím, zda o sobě nemůžete prozradit několik údajů. Pomůže mi to lépe zpracovat výsledky průzkumu. Pokud nechcete, klikněte na tlačítko <strong>Opravdu nechci sdělovat svoje údaje </strong>.
</p>