{block content}
<h2>Informace o respondentovi</h2>
<p>Nejprve budu potřebovat několik základních informací o Vás. Sice nejsou povinné, ale pomůžou mi lépe roztřídit a zpracovat výsledky dotazníku.</p>
<p>Pokud Vás projekt zaujal a budou Vás zajímat výsledky šetření, zanechte mi svůj e-mail a já Vám je posléze zašlu.</p>
<p>Budu rád, když mi napíšete názvy několika stránek, které často navštěvujete. Případně mi můžete zanechat nějaký vzkaz. :)</p>
{control personalForm}
<p id="validation-appeal">
Zvažte prosím, zda o sobě nemůžete prozradit několik údajů. Pomůže mi to lépe zpracovat výsledky průzkumu. Pokud nechcete, klikněte na tlačítko <strong>Opravdu nechci sdělovat svoje údaje </strong>.
</p>