{block title}Kontakt{/block}
{block content}
<h2 class="text-center">Kontakt</h2>
<p>Máte-li nějaké otázky či návrhy na vylepšení, budu rád, když mi napíšete na e-mail <a href="mailto:janbares43@gmail.com">janbares43@gmail.com</a> nebo využijete kontaktní formulář.</p>
{control contactForm}