<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Poznám web: Kontaktní formulář</title>
</head>
<body>
    Přišla nová zpráva z kontaktního formuláře<br /><br />
    E-mail: {$email}<br />
    Zpráva: {$content}
</body>
</html>