{block content}
<h2 n:block=title>Stránka nenalezena</h2>

<p>Stránka bohužel nebyla nalezena.</p>

<a n:href="Homepage:" class="btn btn-default btn-lg">Jít na úvod</a>

<p><small>chyba 404</small></p>
