# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning

parameters:


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter
	websites: App\Service\Website()
	categories: App\Service\Category()
	pages: App\Service\Page()
	questions: App\Service\Question()
	respondents: App\Service\Respondent()
	subquestions: App\Service\Subquestion()
	wireframes: App\Service\Wireframe()
	entities_categories: App\Service\EntityCategory()
	respondents_websites: App\Service\RespondentWebsite()
	codes: App\Service\Code()
	db_websites: App\Database\Website()
	db_categories: App\Database\Category()
	db_pages: App\Database\Page()
	db_questions: App\Database\Question()
	db_respondents: App\Database\Respondent()
	db_subquestions: App\Database\Subquestion()
	db_wireframes: App\Database\Wireframe()
	db_pages_related: App\Database\PageRelated()
	db_entities_categories: App\Database\EntityCategory()
	db_respondents_websites: App\Database\RespondentWebsite()
	db_codes: App\Database\Code()

extensions:
	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension

doctrine:
	orm:
		dql:
			numeric_functions:
				Rand: App\Doctrine\Rand
	user: root
	password: ''
	dbname: bt_survey
	metadata:
		App: %appDir%
