<div id="help">
    <a n:href="Help:#co-mam-delat" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Vašim úkolem přiřadit zobrazený wireframe k webové stránce, kterou vám nejvíce připomíná. Kliknutím se dostane do nápovědy, kde je vše vysvětleno podrobnějí" target="_blank">Nechápu, co mám dělat.</a>
    <a n:href="Help:#jak-poznat-stranku" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Zkuste se zamyslet, jestli na stránce nevidíte nějaký výrazný prvek. Případně vám původní stránku může připomínat rozložení textů a obrázků. Kliknutím se dostane do nápovědy, kde je vše vysvětleno podrobnějí" target="_blank">Nechápu, jak to poznat.</a>
    {ifset $help_lorem}<a n:href="Help:#lorem-ipsum" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Jedná se o náhodně vygenerovaný text, který ukazuje pozici a rozsah původního textu. Kliknutím se dostane do nápovědy, kde je vše vysvětleno podrobnějí" target="_blank">Co znamená ten zmatený text?</a>{/ifset}
    {ifset $help_box}<a n:href="Help:#sede-obdelniky" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Šedé obdelníčky mohou představovat obrázky, texty, formuláře nebo ostatní elementy, jako jsou reklamy. Všechny tyto druhy mají jiný odstín šedé. Kliknutím se dostane do nápovědy, kde je vše vysvětleno podrobnějí" target="_blank">Co jsou ty šedé obdelníčky?</a>{/ifset}
    {ifset $help_blur}<a n:href="Help:#rozmazane-obrazky" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Obrázky jsou záměrně rozmazané, aby bylo vidět jejich umístění, rozsah a přibližné barvy, nikoliv ale jejich obsah. Kliknutím se dostane do nápovědy, kde je vše vysvětleno podrobnějí" target="_blank">Proč jsou obrázky rozmazené?</a>{/ifset}
</div>