{block title}O projektu{/block}
{block content}
<div class="text-container">
    <h2 class="text-center">O projektu</h2>
    <p>Tento projekt je součástí mé bakalářské práce na tému "<strong>Význam designu stránky pro identitu webu</strong>". Jejím cílem je vytvořit nástroj pro vygenerování <a n:href="WhatIsWireframe:">wireframů</a> z libovolné webové stránky a následně tyto wireframy využít k tvorbě dotazníku, kde má respondent za úkol přiřazovat wireframy k původní webové stránce.</p>
    <p>Cílem tohoto dotazníku je zjistit, jaké webové stránky jsou nejčastěji poznávány a které prvky na stránkách k tomu přispívají. Výstupem práce poté bude vyhodnocení prvků, které jsou důležité pro zapamatovatelnost designu webové stránky.</p>
    <h3>Licence</h3>
    <p>Některé obrázky (např. ikonky) na této stránce jsou použity pod následující licencí:</p>
    <div>Icons made by <a href="http://www.flaticon.com/authors/rami-mcmin" title="Rami McMin">Rami McMin</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
    <div>Icons made by <a href="http://www.flaticon.com/authors/google" title="Google">Google</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
</div>